.banner {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  position: relative;
}

.banner-track {
  display: flex;
  height: 100%;
  
  transition: transform 0.8s ease-in-out;
}

.banner-track img {
  width: 100%;
  height: 100%;
  
}

/* Responsive */
@media (max-width: 768px) {
  .banner {
    height: 45vh;
  }
}
